*{
	font-family: montserrat;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
body{
	/* height: 100vh; */
	background: #222629;
	color: #86c232;
	overflow-y: scroll;
}
h1{
	width: 100%;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 img{
 	width: 100%;
 	height: 100%;
 	border-radius: 15px 15px 0 0;
 }
.container{
	/* margin: 50px 0; */
	width: 100%;
	margin: 50px 0;
	/* overflow: hidden; */
}
.col-3{
	width: 25%;
}
.topnav{
	width: 100%;
	height: 60px;
	color: #222629;
	background: #86c232;
	display: flex;
}

.nav-element{
	height: 100%;
	margin: 0 20px;
	display: flex;
}
.nav-element>h1{
	/*align-items: center;
	justify-content: center;*/
	margin: 0;
	padding: 0;
}
.right{
	margin-left: auto;
}
.nav-element>h1{
	height: 100%;
	padding: 10px;
}
.nav-element>form{
	margin: auto;
}
.nav-element>form>input[type="submit"]{
	height: 40px;
	width: 80px;
	padding: 2px;
    position: relative;
    bottom: 10px;
	background-color: #222629;
	box-shadow: 0 0 10px #fff;
	color: #86c232;
	border: none;
	border-radius: 7px;
	transition: ease-in-out .5s;
}
.nav-element>form>input[type="submit"]:hover{
	box-shadow: 0 0 10px #222629;
	cursor: pointer;
}
/*.container{
	background: inherit;
}*/
.cards{
	display: flex;
	/* flex-direction: column; */
}
.col-3{
	width: 25%;
	padding: 20px;
}
.adjust{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid #93fc00;
	border-radius: 15px;
}
.item{
	border: 2px solid #86c232;
	border-radius: 20px;
	height: 350px;
	width: 300px;
	padding: 10px;
	transition: .5s;
	/*margin: 50px 50px 0 50px;*/
}
.item:hover{
	color: #93fc00;
	border: 2px solid #93fc00;
	box-shadow: 0 0 10px #fff;
}
.item:hover .name{
	color: #93fc00;
}
.image{
	width: 100%;
	border-radius: 15px 15px 0 0;
	background: inherit;
	min-height: 90%;
	height: 90%;
	max-height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name{
	color: #222629 ;
	background: #86c232;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin: 10px 0; */
	transition: .5s;
	font-size: 20px;
	font-weight: bold;
	border-radius: 0 0 12px 12px;
}
.hi{
    border: 0px;
}
.image>img {
	width: 100%;
	
	height: 100%;
}
.upload{
	width: 100%;
	height: 40px;
	font-size: 20px;
	color: white;
	border: none;
	border-radius:25px;
	background-color: #61892f;
	/*box-shadow: 0 4px 8px 0 #808080, 0 6px 20px 0 #bfbfbf;*/
	box-shadow: 0 0 7px #fff;
	transition: .5s;
	margin: 20px 0;
	cursor: pointer;
}
.upload{
	box-shadow: none;
	background-color:#86c232;
}