*{
	font-family: montserrat;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
html{
    overflow-y: scroll;
}
body{
	/* height: 100vh; */
	background: #222629;
	color: #86c232;
}
h1{
	width: 100%;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 img{
 	width: 100%;
 	height: 100%;
 	border-radius: 15px 15px 0 0;
 }
.container{
	margin: 50px 0;
	width: 100%;
	overflow: hidden;
}

.topnav{
	width: 100%;
	height: 60px;
	color: #222629;
	background: #86c232;
	display: flex;
}

.nav-element{
	height: 100%;
	margin: 0 20px;
	display: flex;
}
.nav-element>h1{
	/*align-items: center;
	justify-content: center;*/
	margin: 0;
	padding: 0;
}
.right{
	margin-left: auto;
}
.nav-element>h1{
	height: 100%;
	padding: 10px;
}
.nav-element>form{
	margin: auto;
}
.nav-element>form>input[type="submit"]{
	height: 40px;
	width: 80px;
	padding: 2px;
    position: relative;
    bottom: 10px;
	background-color: #222629;
	box-shadow: 0 0 10px #fff;
	color: #86c232;
	border: none;
	border-radius: 7px;
	transition: ease-in-out .5s;
}
.nav-element>form>input[type="submit"]:hover{
	box-shadow: 0 0 10px #222629;
	cursor: pointer;
}
/*.container{
	background: inherit;
}*/
.adjust{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item{
	border: 2px solid #86c232;
	border-radius: 20px;
	height: 350px;
	width: 300px;
	padding: 10px;
	transition: .5s;
	/*margin: 50px 50px 0 50px;*/
}
.item:hover{
	color: #93fc00;
	border: 2px solid #93fc00;
	box-shadow: 0 0 10px #fff;
}
.item:hover .name{
	color: #93fc00;
}
.image{
	width: 100%;
	border-radius: 15px 15px 0 0;
	background: inherit;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name{
	color: #86c232;
	background: inherit;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s;
	font-size: 20px;
}
.hi{
    border: 0px;
}